.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 40px 0 40px;
  background-color: var(--color-surface);
  color: var(--color-text);
  border-radius: 50px;
  width: calc(100% - 80px);
  max-width: 1200px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.right-section {
  display: flex;
  gap: 1rem;
}

.icon-button {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--color-text);
  outline: none;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.icon-button:active {
  border: none;
}

.icon-button:hover {
  background-color: var(--color-surface-hover);
  border-radius: 8px;
  transform: scale(1.05);
}

.icon-button:focus {
  outline: none; /* Add this line to remove focus outline */
  border: none;
}

.icon-button:visited {
  border: none;
}
